[submodule "submodulez/PJsip-CSharp"]
	path = submodulez/PJsip-CSharp
	url = https://github.com/moljac/PJSip-CSharp.git
[submodule "submodulez/swig"]
	path = submodulez/swig
	url = https://github.com/moljac/swig.git
[submodule "submodulez/pjsip4net"]
	path = submodulez/pjsip4net
	url = https://github.com/moljac/pjsip4net.git
[submodule "submodulez/SIPHON-SIP-Client-that-actually-compiles"]
	path = submodulez/SIPHON-SIP-Client-that-actually-compiles
	url = https://github.com/moljac/SIPHON-SIP-Client-that-actually-compiles.git
